.highlight {background-color: yellow;}
.authorMode {font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:10pt;}
div.authorMode {border: 1px solid; color: black; padding: 5px; display:none; position:fixed; top: 350px; width: 300px; height:130px;}
input.authorMode {
	border: 1px solid #ccc;
	font-family: Helvetica;
	color: red;
	border-bottom:1px solid #ccc;
}
.toolbarStatusClass {
	color:red;
	font-weight: bold;
	font-family: Helvetica;
	display: none;
}
div.disabled {color: #ddd;}
#mainContainer {font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:10pt;}
.authorModeButton {padding:5px 10px; background-color: #aaf; font-size:10pt;}
