/*Shanshan*/
/*layout*/
#mainContainer{
	width:400px;
	float:left;
}
#toolbar{
	width:300px;
	margin-left:450px;
	
}
#toolbar #auto-suggest{
	
}

/*text fields*/
.highlight{
}
.tagthis{
	/*text-indent:-9999em;*/
}
.lightup{
	background:blue;
}
input{
	border:none;
	border-bottom:1px solid #ccc;
}
/*draggable*/
span p{color:blue;}
#auto-suggest li{
	border:1px solid #ccc;
	margin-bottom:1px;
}
#auto-suggest li a{
	display:block;
	padding:10px;
	cursor:move;
}
.droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}
.drop-active{
	background:#ccc !important;
}
.drop-hover{
	background:#aeaeae !important;
}
	
/*auto suggest*/
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
	#suggestion { width: 300px; }
	
.ui-autocomplete{
	display:block !important;
	list-style:none !important;
}
